.downloadCV {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #070B1B;
    border: 2px solid #BBC6FF;
    color: #BBC6FF;
    text-decoration: none;
    border-radius: 10px;
    width: 210px;
    height: 50px;
    margin: 50px 0;
    gap: 10px;
}

.downloadCV:hover {
  border-color: #DDE4FF;

  box-shadow:
    0 0 5px rgba(221, 228, 255, 0.8),
    0 0 10px rgba(187, 198, 255, 0.6);
}

.logos {
    height: 20px;
    width: 20px;
}