.project {
    display: flex;
    margin: 20px 0 50px 0;
    padding: 50px 0;
    border-top: 2px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.sessao-imagem {
    display: flex;
    align-items: center;
    width: 40%;
}

.sessao-informacoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 0 20px;
}

.foto-projeto {
    height: 340px;
    width: 540px;
    border: 2px solid #BBC6FF;
    border-radius: 15px;
}

.nome-projeto {
    font-size: 35px;
    color: #BBC6FF;
}

.descricao {
    font-size: 20px;
}

.repositorio, .site {
    display: flex;
    height: 55px;
    width: 200px;
    align-items: center;
    padding: 10px;
    gap: 15px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #070B1B;
    border: 2px solid #BBC6FF;
    color: #BBC6FF;
    justify-content: space-around;
    cursor: pointer;
}

.nome-rep, .nome-site {
    font-size: 20px;
    color: #BBC6FF;
}

.logo-repositorio, .logo-site {
    height: 30px;
    width: 30px;
    border-radius: 20px;
}

.repositorio-acoes {
    display: flex;
    gap: 30px;
    align-items: center;
}

.tecnologias-usadas {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.tecnologias-usadas::-webkit-scrollbar {
    width: 2px;
    height: 3px;
}

.icone {
    height: 40px;
    width: 40px;
}

/* Responsividade */

/* Notebooks e telas médias */
@media (max-width: 1199px) {

}

/* Tablets */
@media (max-width: 991px) {

}

/* Celulares grandes */
@media (max-width: 767px) {

}

/* Celulares pequenos */
@media (max-width: 575px) {
    .project {
        flex-direction: column-reverse;
        align-items: center;
        padding: 30px 0;
        gap: 60px;
    }

    .sessao-informacoes {
        width: 100%;
        gap: 50px;
    }

    .nome-projeto {
        font-size: 40px;
    }

    .sessao-imagem {
        justify-content: center;
        width: 100%;
    }

    .descricao {
        font-size: 30px;
        word-wrap: break-word;
        white-space: normal;
        text-align: justify;
    }

    .foto-projeto {
        height: 450px;
        width: 740px;
        border: 3px solid white;
    }

    .repositorio {
        height: 60px;
        width: 200px;
        padding: 10px;
        gap: 15px;
    }

    .nome-rep {
        font-size: 22px;
    }

    .logo-repositorio {
        height: 50px;
        width: 50px;
    }

    .tecnologias-usadas {
        gap: 25px;
    }

    .icone {
        height: 60px;
        width: 60px;
    }
}