.project {
    display: flex;
    margin: 20px 0 50px 0;
}

.sessao-imagem {
    display: flex;
    align-items: center;
    width: 50%;
    /*background-color: rgb(74, 222, 82);*/
}

.sessao-informacoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    /*background-color: rgb(53, 151, 151);*/
    padding: 0 20px 0 20px;
}

.foto-projeto{
    height: 340px;
    width: 540px;
    border: 3px solid white;
}

.nome-projeto {
    font-size: 30px;
    color: #BBC6FF;
}

.descricao {
    font-size: 18px;
}

.repositorio {
    display: flex;
    height: 40px;
    width: 140px;
    align-items: center;
    padding: 10px;
    gap: 15px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.nome-rep {
    font-size: 15px;
    color: black;
}

.logo-repositorio {
    height: 30px;
    width: 30px;
    border-radius: 20px;
}

.repositorio-tecnologias {
    display: flex;
    gap: 50px;
}

.tecnologias-usadas {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.tecnologias-usadas::-webkit-scrollbar {
    width: 2px;
    height: 3px;
}

.icone {
    height: 40px;
    width: 40px;
}

/*    Responsividade     */

/* Notebooks e telas médias */
@media (max-width: 1199px) {

}
  
/* Tablets */
@media (max-width: 991px) {

}

/* Celulares grandes */
@media (max-width: 767px) {
    
}

/* Celulares pequenos */
@media (max-width: 575px) {
    .project{
        flex-direction: column-reverse;
        align-items: center;
        padding: 30px;
        gap: 60px;
    }
    .sessao-informacoes{
        width: 100%;
        gap: 50px;
    }
    .nome-projeto{
        font-size: 40px;
    }
    .sessao-imagem {
        justify-content: center;
        width: 100%;
    }
    .descricao {
        font-size: 30px;
        word-wrap: break-word;
        white-space: normal;
        text-align: justify;
    }
    .foto-projeto{
        height: 450px;
        width: 740px;
        border: 3px solid white;
    }

    .repositorio {
        display: flex;
        height: 60px;
        width: 200px;
        padding: 10px;
        gap: 15px;
    }
    
    .nome-rep {
        font-size: 22px;
    }

    .logo-repositorio {
        height: 50px;
        width: 50px;
    }
    
    .tecnologias-usadas {
        display: flex;
        gap: 25px;
        overflow-x: auto;
    }
    
    .icone {
        height: 60px;
        width: 60px;
    }


}