.container-projects {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: flex-start;
  padding: 0 100px 0 100px;
}

/* Linha separadora */
.container-projects hr {
  width: 100%;
  border: none;
  height: 2px;
  background-color: #ccc;
  margin: 0 0 0 20px;
}

/* Responsividade */

/* Notebooks e telas médias */
@media (max-width: 1199px) {
  .container-projects {
    padding: 0 70px;
  }
}

/* Tablets */
@media (max-width: 991px) {
  .container-projects {
    padding: 0 50px;
  }

  .container-projects hr {
    margin: 25px 0;
  }
}

/* Celulares grandes */
@media (max-width: 767px) {
  .container-projects {
    padding: 0 25px;
  }

  .container-projects hr {
    height: 1px;
    margin: 20px 0;
  }
}

/* Celulares pequenos */
@media (max-width: 575px) {
  .container-projects {
    padding: 0 15px;
  }

  .container-projects hr {
    margin: 15px 0;
  }
}