.container-contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  padding: 30px;
  /*background-color:aquamarine;*/
}
 
.sessoes-cont {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
  
.formulario {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  column-gap: 20px;
}
  
.sessao-contatos {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 25px;
}
  
.titulos-form {
  font-size: 20px;
  color: #BBC6FF;
}
  
.inputs {
  height: 45px;
  width: 580px;
  font-size: 15px;
  color: black;
  border-radius: 10px;
  padding: 15px;
  border: none;
  margin: 20px 0 20px 0;
}
  
.mensagem {
  height: 150px;
  width: 580px;
  font-size: 15px;
  color: black;
  border-radius: 10px;
  padding: 15px;
  border: none;
  margin: 20px 0 20px 0;
}
  
.enviar-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 580px;
  font-size: 20px;
  color: black;
  border-radius: 10px;
  padding: 15px;
  border: none;
  margin: 20px 0 20px 0;
  cursor: pointer;
}
  
.redes-sociais {
  margin: 30px 0 30px 0;
}

/*    Responsividade     */

/* Notebooks e telas médias */
@media (max-width: 1199px) {

}
  
/* Tablets */
@media (max-width: 991px) {

}

/* Celulares grandes */
@media (max-width: 767px) {
    
}

/* Celulares pequenos */
@media (max-width: 575px) {
    .sessoes-cont{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .formulario{
        padding: 30px;
    }

    .titulos-form {
      font-size: 30px;
      color: #BBC6FF;
    }
        
    .inputs {
      height: 65px;
      width: 100%;
      font-size: 25px;
    }
    .mensagem {
      height: 170px;
      width: 100%;
      font-size: 25px;
    }
    .enviar-form {
      height: 65px;
      width: 100%;
      font-size: 30px;
      color: black;
    }
}