.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    margin-top: 30px;
    border-top: 2px solid white;
}

.texto-footer {
    font-size: 15px;
    margin: 20px;
}

/*    Responsividade     */

/* Notebooks e telas médias */
@media (max-width: 1199px) {
    
}
  
/* Tablets */
@media (max-width: 991px) {
    .footer{
        height: 100px;
      }
     .texto-footer{
        font-size: 18px;
    }
}

/* Celulares grandes */
@media (max-width: 767px) {
    .footer{
        height: 100px;
      }
     .texto-footer{
        font-size: 20px;
    }
}

/* Celulares pequenos */
@media (max-width: 575px) {
  .footer{
    height: 100px;
  }
  .texto-footer{
    font-size: 20px;
  }
}