.container-home {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  /*background-color:aquamarine;*/
}
  
.elementos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  /*background-color: lightcoral;*/
  flex-grow: 1;
  padding: 20px;
  gap: 30px;
}
 
.nome {
  font-size: 70px;
  color: #BBC6FF;
}
  
.animacao {
  font-size: 40px;
}
  
.paragrafo1 {
  font-size: 25px;
  color: #48DCFD;
}

.paragrafo-home {
  font-size: 25px;
  margin: 20px 0 20px 0;
  word-wrap: break-word;
  white-space: normal;
  text-align: justify;
}

.img-contato {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin-right: 35px;
}

/*    Responsividade     */

/* Notebooks e telas médias */
@media (max-width: 1199px) {

}
  
/* Tablets */
@media (max-width: 991px) {

}

/* Celulares grandes */
@media (max-width: 767px) {
    
}

/* Celulares pequenos */
@media (max-width: 575px) {
    .container-home{
      padding: 50% 0 50% 0;
    }
    .elementos{
        width: 100%;
        gap: 60px;
        padding: 0 30px 0 30px;
    }
    .paragrafo-home{
        font-size: 35px;
        word-wrap: break-word;
        white-space: normal;
        text-align: justify;
        padding: 0 50px 0 50px;
    }
    .img-contato{
      height: 50px;
      width: 50px;
      border-radius: 10px;
    }
}