:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
}

html, body {
  background-color: #000000;
  height: 100vh;
}

/* Home */

.container-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: flex-start;
  /*background-color:aquamarine;*/
}

.elementos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 50%;
  /*background-color: lightcoral;*/
  flex-grow: 1;
  padding: 20px;
  gap: 30px;
}

.nome {
  font-size: 70px;
  color: #BBC6FF;
}

.animacao {
  font-size: 40px;
}

.paragrafo1 {
  font-size: 25px;
  color: #48DCFD;
}

.paragrafo-padrao {
  font-size: 25px;
}

.img-contato {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin-right: 35px;
}

/* About */

.container-about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: flex-start;
  padding: 30px;
  /*background-color:aquamarine;*/
}

.topico {
  font-size: 40px;
  color: #BBC6FF;
  margin-bottom: 30px;
}

.sessao1 {
  /*background-color: beige;*/
  display: flex;
}

.area-descricao {
  width: 50%;
}

.area-foto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  /*background-color: #48DCFD;*/
}

.foto {
  height: 250px;
  width: 250px;
}

.ferramentas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Projects */

.container-projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: flex-start;
  padding: 30px;
  /*background-color:aquamarine;*/
}

/* Contact */

.container-contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: flex-start;
  padding: 30px;
  /*background-color:aquamarine;*/
}